.analytics-data {
    height: 100% !important;
    padding: 1rem 0 !important;
    text-transform: uppercase;

    &__title {
        font-size: 2.5rem;
    }

    &__number {
        color: $color__pink;
        font-size: 8rem;
    }

    &__unit {
        color: $color__white;
        font-size: 2rem;
        opacity: .4;
    }
}