@mixin HomeBlock($side) {
    @include pageLayout();

    @if ($side=="left") {
        color: $color__indigo;
        background-color: $color__pink--light;
    }

    @else {
        color: $color__white;
        background-color: $color__indigo;
    }
}

@mixin pageLayout() {
    height: 100vh;
    padding: 2rem 4rem;
}

@mixin titleBlock {
    text-transform: uppercase;
    display: flex;
    padding: 1rem 2rem;
    background-color: #335A83;
    cursor: pointer;
    font-size: 1.3rem;
}