.input {
    position: relative;

    &__content {
        font-size: 1.8rem;
        font-weight: 500;
        background-color: $color__grey;
        width: 100%;
        padding: 1.3rem 1.3rem 1.3rem 2rem;

        &:focus {
            outline: none;
        }

    }

    &__action {
        position: absolute;
        right: 1rem;
        transform: translateY(30%);
        cursor: pointer;
    }
}