.dashboard {
    padding: 0;
    height: 100vh;
    background-color: $color__indigo;
    color: white;

    & div > .flex {
        @include pageLayout()
    }

    .navbar__item--active * {
        color: $color__pink;
        opacity: 1!important;
    }

}