.home {
    padding: 0;

    &__left {
        // height: 100vh;
        @include HomeBlock("left");
    }

    &__right {
        @include HomeBlock("right");
    }

    
}

.currentList {
    align-self: center;

    // Hide the Start Button for the first To Do List
    & .todolist__start {
        display: none;
    }

    &__title {
        border: none;
        font-size: 1.2rem;
    }

    &__time {
        font-size: 15rem;
        color: $color__pink;
    }
}